@import "../../styles/vars";
@import "../../styles/functions";

.info {
  margin: rem(20px) 0;
  padding: rem(30px);
  text-align: center;

  &__title {
    padding: 0 rem(90px);
  }

  &__icon {
    height: rem(120px);
    opacity: 0.4;
    width: rem(120px);
  }
}
