@import "functions";
@import "vars";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: color("grey-300");
  color: color("grey-200");
  font-family: $main-font;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-size: rem(32px);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.button {
  color: color("white");
  border: none;
  padding: rem(16px);
  font-size: rem(16px);
  cursor: pointer;
  font-weight: 100;

  &:hover {
    opacity: 0.9;
  }

  &--primary {
    background-color: color("blue-100");
    border-radius: rem(4px);
  }
}

.main-box {
  border-start-start-radius: rem(4px);
  border-start-end-radius: rem(4px);
  background-color: color('white');
}
