$base-font-size: 16px;
$main-font: 'Lato', sans-serif;
$colors: (
  'blue-100': #3483FA,
  'blue-50': #ebf1fc,
  'red-900': #a81314,
  'yellow-100': #ffe600,
  'grey-100': #202124,
  'grey-200': #999999,
  'grey-300': #EEEEEE,
  'white': #fff,
  'black': #000,
);